# Data directory for cerberus, ~20GB
/project/data

# MAC specific bullshit
.DS_Store

# Ignore emacs backup files
*~

# JupyterLab histories
.ipynb_checkpoints

# Precompiled code
*/.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc

